@page
@model XmlVisualizer.Pages.Matches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matches</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matches.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matches.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Matches.Matches_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
