@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="dl-horizontal">
    <h1> <a asp-page="./Author/Index">Authors List</a> </h1>
    <h1><a asp-page="./Matches/Index">Matches List</a> </h1>
    <h1> <a asp-page="./Club/Index">Club List</a> </h1>
    <h1> <a asp-page="./League/Index">League List</a> </h1>
</div>
